/* variables
============================================= */
$body_bg: #16332D;
$font_light: #f2f2f2;
$font_dark: #212529;
$primary_color: #e9ecef;
$element_bg: #27594F;
$nav_bg: #648862;

/* global
============================================= */
body {
	background-color: $body_bg;
	color: $font_light;
}

/* disable text selection on main window (allowed on error window)
============================================= */
body#event_holder {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* nav
============================================= */
nav {
	background-color: $element_bg;
}
nav #logo {
	padding: 6px 15px;
}
nav #logo h1 {
	margin-bottom: 0px;
	line-height: 1;
}
nav .controlls {
	position: absolute;
	right: 15px;
	margin-top: 18px;
}
nav .controlls button {
	margin-left: 6px;
}

.controlls input {
	padding: 5px 12px;
	top: 1px;
	position: relative;
	width: 500px;
}

.controlls .hidden {
	display: none;
}
#login_name {
	opacity: 1;
	position: relative;
	top: 3px;
}

/* buttons
============================================= */
.btn {
	background-color: $primary_color;
	border-radius: 0.10rem;
}
.btn:hover, .btn:focus {
	opacity: 0.8;
}

/* currently_tracking
============================================= */
#currently_tracking {
	background-color: $element_bg;
	margin-top: 20px;
	margin-bottom: 20px;
	padding-top: 8px;
	padding-bottom: 8px;
	*.hidden {
		display: none;
	}
	h3 {
		margin-bottom: 0px;
		span {
			padding-right: 10px;
			opacity: 0.6;
		}
	}
}

small {
	opacity: 0.6;
}

h2 {
	font-size: 1rem;
	margin-bottom: 4px;
	text-decoration: underline;
}

/* description and filter inputs
============================================= */
#description_input,
#filter_projects {
	width: 95%;
	padding: 6px;
	border: none;
	background-color: $primary_color;
	color: $font_dark;
	margin: auto;
	display: inherit;
	border: 2px solid $element_bg;
	transition: 0.3s ease;
	&:focus {
		border: 2px solid $primary_color;
		outline-color: $body_bg;
	}
}

/* projects, today
============================================= */
#projects, #today {
	background-color: $element_bg;
	padding-top: 15px;
	padding-bottom: 15px;
}
#projects {
	border-right: 1px solid $primary_color;
}
#today {
	border-left: 1px solid $primary_color;
}

#project_list > div {
	margin-top: 10px;
	margin-bottom: 10px;
}
#project_list h5 {
	margin-bottom: 4px;
}
#project_list span {
	padding-right: 10px;
	opacity: 0.6;
}

#projects {
	.project_name {
		font-weight: 600;
	}
	.task_name,
	.activity_name {
		font-size: 0.75rem;
	}
	.btn {
		width: 100%;
		margin-top: 6px;
		margin-bottom: 6px;
	}
	span {
		color: $font_dark;
	}
	.title_row {
		margin-bottom: 12px;
	}
}

#projects_wrap > div.hidden {
	display: none;
}
